* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: sans-serif;
    height: 100%;
    width: 100%;
}

.app {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100dvh;
    gap: 2rem;
    width: 100%;
    padding: 2rem 4rem;
}

.sidebar {
    position: sticky;
    top: 2rem;
    height: auto;
    width: 28%;
    overflow-y: auto;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
}

.info-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}


.sidebar .profile-image {
    cursor: pointer;
    width: 10rem;
    height: 10rem;
    aspect-ratio: 1/1;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid black;
    margin-bottom: 1rem;
}

.profile-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.info-div h1 {
    font-size: clamp(1rem, 2vw, 1.8rem);
    padding-bottom: 1rem;
}

.info-div p {
    font-size: clamp(0.7rem, 1vw, 0.9rem);
    border-radius: 10px;
    background-color: bisque;
    font-size: 0.8rem;
    padding: 0.5rem;
}

.info-more .separator {
    border-bottom: 2px solid rgba(65, 60, 60, 0.78);
    margin: 2rem 0 2rem 0;
}

.toggle-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: none;
    background: none;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    color: rgb(212, 166, 106);
    flex-shrink: 0;
}

.info-more {
    width: 100%;
}

.contact-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}

.contact-list {
    list-style-type: none;
}

.contact-list .icon-box {
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
}

.icon-box img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.contact-title {
    font-size: clamp(0.6rem, 0.8vw, 0.9rem);
    font-size: 0.9rem;
    color: rgb(212, 166, 106);
    margin-bottom: 0.3rem;
}

.contact-info a {
    font-size: clamp(0.7rem, 0.9vw, 1rem);
    text-decoration: none;
    color: black;
    font-size: 0.99rem;
    word-break: break-all;
}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style-type: none;

}

.social-list .social-item {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
}

.social-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.second-separator {
    margin: 2rem 0 2rem 0;
}



.main-content {
    border-radius: 20px;
    height: auto;
    flex: 1;
    overflow-x: hidden;
    border: 2px solid black;
}

.hamburger-menu {
    display: none;
}

.navbar {
    width: 100%;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}


.navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

.navbar-link {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

.navbar-link.active {
    background-color: bisque;
    font-weight: 600;
}


article {
    padding: 2rem;
}

.article-title {
    font-size: 1.9rem;
    margin-bottom: 0.8rem;
}

.article-title::after {
    content: '';
    display: block;
    width: 2.5rem;
    height: 5px;
    border-radius: 15px;
    background-color: rgb(250, 167, 43);
    margin-top: 0.4rem;
}

.about-text p {
    margin-bottom: 1rem;
    line-height: 1.7;
    color: #555;
}

.service-title {
    font-size: 1.6rem;
    margin: 2rem 0 1rem;
}

.service-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    list-style: none;
}

.service-item {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 1.2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 14px;
}

.service-icon-box {
    margin-top: 0.5rem;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
}

.service-icon-box img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.service-item-title {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}

.service-item-text {
    font-size: 0.95rem;
    color: #666;
    line-height: 1.5;
}

.marquee-wrapper {
    overflow: hidden;
    width: 100%;
    padding: 1rem 0;
}

.marquee-track {
    display: flex;
    width: max-content;
    gap: 1rem;
    animation: marquee 15s linear infinite
}

.marquee-track:hover {
    animation-play-state: paused;
}

.marquee-track .skill-item {
    width: 5rem;
    height: 5rem;
    flex-shrink: 0;
    border-radius: 16px;
    overflow: hidden;
}

.skill-item img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }

}


.about{
    display: none;
}

.article-title{
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

.timeline{
    margin-bottom: 2rem;
}

.title-wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 1.3rem;
    gap: 1rem;
}

.title-wrapper .icon-box{
    height: 2.5rem;
    width: 2.5rem;
    flex-shrink: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 0.3rem;
}

.icon-box img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.title-wrapper .h3{
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 1rem;
}

.timeline-list{
    list-style: none;
    padding-left: 1.5rem;
    margin-bottom: 2rem;
}


.timeline-item{
    position: relative;
    padding: 0 0 1.5rem 1rem;
    margin: 0;
}

.timeline-list .timeline-item-title,
.timeline-text,
span{
    margin: 0.3rem 0 0.3rem 2rem;
}

.timeline-item::before{
    content: '';
    position: absolute;
    top: 0.3rem;
    left: -0.4rem;
    width: 0.45rem;
    height: 0.45rem;
    border-radius: 50%;
    z-index: 2;
    background: #fdc260;
    box-shadow: 0 0 0 4px #363636
}

.timeline-item::after {
    content: '';
    position: absolute;
    left: -0.18rem;   
    top: 1rem;    
    bottom: 0;
    width: 2px;
    background: rgba(0,0,0,0.15);
}

.timeline-item:last-child::after {
    display: none;
}

.title-wrapper .h3{
    font-size: 1.6rem;
    font-weight: 700;
}

.timeline-item-title{
    font-size: 1.1rem;
    margin-bottom: 0.5rem;

}

.timeline-text{
    margin-bottom: 0.5rem;
}

.timeline-item span{
    color: #f2d06b;
    margin-bottom: 0.5rem;
    
}

.timeline-item ul.timeline-text{
    list-style: none;
    padding-left: 0;
}
 
.timeline-item ul.timeline-text li{
    position: relative;
    padding-left: 1.2rem;
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
    color: #555;    
}

.timeline-item ul.timeline-text li::before{
    content: '';
    position: absolute;
    top: 0.3rem;
    left: 0;
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background-color: rgb(250, 167, 43);
}

.form-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    background-color: aqua;
    padding: 1rem 1.5rem;
    height: 3rem;
    width: fit-content;
    margin-left: auto;
    margin-top: 2rem;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.08);

     border-radius: 18px;

    background: linear-gradient(
        145deg,
        rgba(35,35,35,0.95),
        rgba(20,20,20,0.95)
    );

    color: #f7c75c;
    cursor: pointer;

    box-shadow:
        0 8px 25px rgba(0,0,0,0.35),
        inset 0 1px 0 rgba(255,255,255,0.04);

    transition: all 0.3s ease;
}


.form-btn:hover{
    transform: translateY(-3px);
    box-shadow:
        0 12px 30px rgba(0,0,0,0.45),
        0 0 15px rgba(247,199,92,0.15);
}

.form-btn img{
    width: 1.1rem;
    height: 1.1rem;
    object-fit: contain;
}

.form-btn span{
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    color: #f7c75c;
    white-space: nowrap;
}







@media (max-width: 600px) {
    .app {
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;
    }

    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
        overflow: hidden;
        position: static;
        min-height: unset;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 1rem;

    }

    .info-div {
        flex-direction: row;
        text-align: left;
        align-items: center;
        gap: 1rem;
        flex: 1;
    }

    .info-div .name-role {
        display: flex;
        flex-direction: column;
    }

    .sidebar .profile-image {
        width: 6rem;
        height: 6rem;
        object-fit: contain;
        flex-shrink: 0;
    }

    .info-div h1 {
        font-size: 1.5rem;
    }

    .info-div p {
        padding: 0.2rem;
        text-align: center;
    }

    .toggle-btn {
        display: block;
    }

    .info-more {
        display: none;
    }

    .info-more.visible {
        display: block;
        width: 100%;
    }

    .tabs {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: white;
        border-top: 2px solid rgba(0, 0, 0, 0.1);
        border-bottom: none;
        justify-content: space-around;
        padding: 0.8rem 1rem;
        z-index: 100;
    }

    .sidebar .separator {
        margin: 0.5rem 0;
    }

    .sidebar .second-separator {
        border-bottom: 2px solid rgba(65, 60, 60, 0.78);
        margin: 0.5rem 0;
    }

    .contact-item {
        padding: 0.4rem 0;
    }

    .contact-list .icon-box {
        height: 1.4rem;
        width: 1.4rem;
    }

    .icon-box img {
        height: 100%;
        width: 100%;
    }

    .main-content {
        margin-bottom: 4rem;
        width: 100%;
    }

    .service-list {
        display: flex;
        flex-direction: column;
    }

    .navbar {
        display: none;
    }

    .hamburger-menu {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background:white;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        z-index: 100;
        padding: 0.5rem 0;
        border-top-left-radius:10px;
        border-top-right-radius: 10px;
    }

    .hamburger-navbar-list {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .hamburger-navbar-item {
        list-style: none;
    }

    .hamburger-navbar-item .hamburger-navbar-link {
        color: 1.3rem;
        font-weight: 500;
        border: none;
        background: none;
        cursor: pointer;
        padding: 0.5rem 0.8rem;
        font-size: 0.9rem;
        border-radius: 8px;
    }

    .hamburger-navbar-link.active{
        color: rgb(212, 166, 106);
        font-weight: 600;
    }


}